@font-face {
    font-family: "Waltograph";
    src: url(../fonts/waltograph42.otf) format("opentype");
}

@font-face {
    font-family: "Charlemagne";
    src: url(../fonts/CharlemagneStd-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(../fonts/brandon-grotesque-light-58a8a4b38001d.otf) format("opentype");
}



body {
    font-family: "Brandon Grotesque";
    background-color: hsl(225, 9%, 17%);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    font-size: 1.25em;
    display: block;
    border-radius: 5px;
    /* background-color: hsl(205, 100%, 39%); */
    background-color: hsl(140, 100%, 35%);
    /* Green for Start Shift */
    color: hsl(354, 70%, 100%);
    padding: 1em 1.25em;
    width: 300px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all .2s ease-in-out;
    /* -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0004); */
}


#shiftButton i {
    margin-right: 8px;
}

#shiftButton.stopShift {
    background-color: hsl(354, 70%, 54%);
    /* Red for Stop Shift */
}






/* Container for the buttons to ensure they stack vertically */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align buttons to the start of the container */
    gap: 10px;
    /* Space between the buttons */
}

/* Style for the toggle buttons */
.toggle-button {
    color: hsl(354, 70%, 100%);
    background-color: hsl(140, 100%, 35%);
    /* Default green for Start Shift */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 200px;
    /* Fixed width for consistency */
}

#lunchButton,
#placeholderButton1,
#placeholderButton2 {
    background-color: hsl(205, 100%, 39%);
    /* Default blue color for Start Lunch and Placeholder buttons */
}

.toggle-button i {
    margin-right: 8px;
}

.toggle-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    aspect-ratio: 16 / 9;
    background-color: hsl(205, 100%, 39%);
    /* Background color for the modal */
    backdrop-filter: blur(10px);
    /* Blur the background behind the modal */
    border-radius: 20px;
    padding: 3em;
    /* Padding to create space around the modal content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Soft shadow for depth */
    box-sizing: border-box;
}

.modal-content {
    background-color: hsl(225, 9%, 17%);
    /* Background color for the modal content */
    color: hsl(354, 70%, 100%);
    margin: auto;
    padding: 3em;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Light border for separation */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* Subtle shadow for depth */
}

/* Adjusting the content within the modal-content */
.modal-content>* {
    max-width: 90%;
    /* Ensure content doesn't overflow */
    margin: 0 auto;
}

.close {
    color: hsl(354, 70%, 100%);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Info icon styling */
#infoIcon {
    font-size: 20px;
    cursor: pointer;
    background-color: hsl(205, 100%, 39%);
    padding: 5px;
    border-radius: 50%;
}