@font-face {
    font-family: "Waltograph";
    src: url(../fonts/waltograph42.otf) format("opentype");
}

@font-face {
    font-family: "Charlemagne";
    src: url(../fonts/CharlemagneStd-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(../fonts/brandon-grotesque-light-58a8a4b38001d.otf) format("opentype");
}

body {
    font-family: "Brandon Grotesque";
    background-color: hsl(225, 9%, 17%);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

button {
    font-size: 1.25em;
    display: block;
    border-radius: 5px;
    background-color: hsl(140, 100%, 35%);
    color: hsl(354, 70%, 100%);
    padding: 1em 1.25em;
    width: 300px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all .2s ease-in-out;
}

#shiftButton i {
    margin-right: 8px;
}

#shiftButton.stopShift {
    background-color: hsl(354, 70%, 54%);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.toggle-button {
    color: hsl(354, 70%, 100%);
    background-color: hsl(140, 100%, 35%);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 200px;
}

#lunchButton,
#placeholderButton1,
#placeholderButton2 {
    background-color: hsl(205, 100%, 39%);
}

.toggle-button i {
    margin-right: 8px;
}

.toggle-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    button {
        font-size: 1.5em; /* 20% larger */
        width: 360px; /* 20% larger */
        padding: 1.2em 1.5em; /* 20% larger */
    }

    .toggle-button {
        font-size: 19.2px; /* 20% larger */
        width: 240px; /* 20% larger */
        padding: 12px 24px; /* 20% larger */
    }

    .button-container {
        align-items: center;
    }
}

@media (max-width: 480px) {
    button {
        font-size: 1.05em; /* 20% larger */
        width: 240px; /* 20% larger */
        padding: 0.6em 0.9em; /* 20% larger */
    }

    .toggle-button {
        font-size: 14.4px; /* 20% larger */
        width: 180px; /* 20% larger */
        padding: 7.2px 14.4px; /* 20% larger */
    }

    .button-container {
        gap: 8px;
        align-items: center;
    }
}
