@font-face {
    font-family: "Waltograph";
    src: url(../fonts/waltograph42.otf) format("opentype");
}

@font-face {
    font-family: "Charlemagne";
    src: url(../fonts/CharlemagneStd-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url(../fonts/brandon-grotesque-light-58a8a4b38001d.otf) format("opentype");
}

body {
    font-family: "Brandon Grotesque";
    background-color: hsl(225, 9%, 17%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* Prevent scrolling */
}

button {
    font-size: 1.25em;
    display: block;
    border-radius: 5px;
    background-color: hsl(140, 100%, 35%);
    color: hsl(354, 70%, 100%);
    padding: 1em 1.25em;
    width: 300px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all .2s ease-in-out;
}

#shiftButton i {
    margin-right: 8px;
}

#shiftButton.stopShift {
    background-color: hsl(354, 70%, 54%);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Ensure the container takes up full viewport height */
    height: 100%;
}

.toggle-button {
    color: hsl(354, 70%, 100%);
    background-color: hsl(140, 100%, 35%);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 200px;
}

#lunchButton,
#placeholderButton1,
#placeholderButton2 {
    background-color: hsl(205, 100%, 39%);
}

.toggle-button i {
    margin-right: 8px;
}

.toggle-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}


/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    button {
        font-size: 1.8375em;
        /* 45% larger (40% + 5%) */
        width: 441px;
        /* 45% larger */
        padding: 1.47em 1.8375em;
        /* 45% larger */
    }

    .toggle-button {
        font-size: 23.52px;
        /* 45% larger */
        width: 294px;
        /* 45% larger */
        padding: 14.7px 29.4px;
        /* 45% larger */
    }

    .button-container {
        align-items: center;
        padding-bottom: 25%;
        /* Increased to 20% bottom padding */
    }
}

@media (max-width: 480px) {
    button {
        font-size: 1.8375em;
        /* 45% larger (40% + 5%) */
        width: 294px;
        /* 45% larger */
        padding: 0.735em 1.1025em;
        /* 45% larger */
    }

    .toggle-button {
        font-size: 17.64px;
        /* 45% larger */
        width: 220.5px;
        /* 45% larger */
        padding: 8.82px 17.64px;
        /* 45% larger */
    }

    .button-container {
        gap: 8px;
        align-items: center;
        padding-bottom: 25%;
        /* Increased to 20% bottom padding */
    }
}